* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f8f8f8;
    color: #333;
  }

  .size-6 {
	width: 1.5rem;
	height: 1.5rem;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure wrapper fills the height of the viewport */
}

.main-content {
  flex: 1; /* Pushes footer to the bottom when content is short */
}






.icon-button {
	border: none;
	background: none;
	color: #707070;
	padding: 0;
}
.icon-button:hover {
	color: black;
	cursor: pointer;
}
