/****************** BLOG PAGE CSS ******************/

/* General Spacing */
.blog-container {
  padding: 2rem 1rem;
}

/* Blog Title */
.blog-title {
  text-align: center;
  font-size: 2rem;
  margin: 32px 0;
}

.filter-article-count {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .filter-article-count {
    padding: 0 16px;
  }
}
.filter-article-count:hover {
  cursor: pointer;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 14px;
  border: 1px solid #aaa;
  border-radius: 40px;
  padding: 12px 20px;
  color: #747474;
}

.filter-icon a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article-count {
  color: #747474;
  text-align: right;
  font-family: "Figtree";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
/* Blog Grid */
.blog-grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .blog-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 991px) {
  .blog-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blog Card */
.ali-blog-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 32px 16px 0;
}

.ali-image-container {
  line-height: 0;
  aspect-ratio: 1 / 1;
  position: relative;
}
.ali-blog-card-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.blog-card-content {
  position: relative;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 22px;
}

.blog-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.blog-card-excerpt {
  color: #212121;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.blog-card-read-more {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.blog-card-read-more:hover {
  color: #0056b3;
}

.author-details {
  display: flex;
}

.author-details .author-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.author-details .author-name {
  color: #000;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: inherit;
  align-items: center;
  margin-left: 1rem;
}
/* Pagination */
.pagination-container {
  max-width: 1200px;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* filter drawer design */
.filter-ovelay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #212121;
  opacity: 0.3;
  z-index: 999;
  top: 0;
}
.bp-filter-container {
  margin-left: auto;
  margin-right: 2rem;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 42%;
  width: 42%;
  left: -150vh;
  transition: 0.65s;
}

.bp-filter-drawer-container {
  width: 42%;
  height: 100%;
  padding: 32px 16px;
  position: fixed;
  background: #ffffff;
  z-index: 9999;
  top: 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  .bp-filter-drawer-container {
    width: 100%;
    padding: 0;
  }
}

.bp-filter-drawer {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 5rem;
}

.bp-filter-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.bp-filter-drawer-title {
  margin: 0;
  color: #212121;
  font-family: "Roboto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.bp-filter-drawer-item h3 {
  color: #747474;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
